name: API Tests - Cypress

on:
  push:
    branches: [ main ]

concurrency:
  group: cypress-main
  cancel-in-progress: true

jobs:
  cypress-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Run Cypress API Tests
        uses: cypress-io/github-action@v6
        with:
          command: npx cypress run
